<footer>
    <div class="footer-header">
      <div class="logo-container">
        <img alt="API Layer Logo" class="logo" src="/assets/footerlogo.svg" />
      </div>
      <a href="#" class="browse-btn">
        Browse all APIs
        <img src="/assets/blueright.svg" />
      </a>
    </div>

    <div class="content-grid">
      <div class="sitemap">
        <h3>Sitemap</h3>
        <div class="sitemap-lists">
          <ul class="sitemap-list">
            <li><a href="#">APILayer</a></li>
            <li><a href="#">Sitemap</a></li>
            <li><a href="#">Marketplace</a></li>
            <li><a href="#">About</a></li>
          </ul>
          <ul class="sitemap-list">
            <li><a href="#">API Glossary</a></li>
            <li><a href="#">Community</a></li>
            <li><a href="#">Contact Sales</a></li>
            <li><a href="#">Helpdesk</a></li>
          </ul>
        </div>
      </div>

      <div class="Connect">
        <h3>Connect</h3>
        <div class="social-links">
          <div class="icon-box">
            <img src="/assets/insta.svg" alt="foter-social-icon" />
          </div>
          <div class="icon-box">
            <img src="/assets/fb.svg" alt="foter-social-icon" />
          </div>
          <div class="icon-box">
            <img src="/assets/linkedin.svg" alt="foter-social-icon" />
          </div>
          <div class="icon-box">
            <img src="/assets/twitter.svg" alt="foter-social-icon" />
          </div>
          <div class="icon-box">
            <img src="/assets/ytube.svg" alt="foter-social-icon" />
          </div>
          <div class="icon-box">
            <img src="/assets/footergithub.svg" alt="foter-social-icon" />
          </div>
        </div>
      </div>

      <div class="newsletter">
        <h3>Newsletter</h3>
        <p>
          Join our newsletter to receive the latest API insights, tips, and
          updates straight to your inbox.
        </p>
        <form class="newsletter-form">
          <input class="newsletter-input" placeholder="Email" type="email" />

          <button class="subscribe-btn" type="submit">
            Subscribe
            <img src="/assets/whitearrow.svg" class="subscribe-arrow" />
          </button>
        </form>
      </div>
    </div>

    <div class="footer-bottom">
      <p>© 2024 All rights reserved</p>
      <div class="footer-links">
        <a href="#">Privacy Policy</a>
        <a href="#">Imprint</a>
        <a href="#">Privacy</a>
        <a href="#">Terms</a>
        <a href="#">Cookie Preferences</a>
      </div>
    </div>
  </footer>