<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/index.css" />
    <link rel="stylesheet" href="/styles/navbar.css" />
    <link rel="stylesheet" href="/styles/insights.css" />
    <link rel="stylesheet" href="/styles/footer.css" />
    
    <title>Api-Layer-Home-page-Revamp</title>
</head>
<body>
    <!-- <section class="Header-section">
        <div id="navbar-placeholder"></div>
    </section> -->



    <div id="insights-placeholder"></div>

    <div id="footer-placeholder"></div>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
 <script src="/templates/index.js"></script>
    
</body>
</html>