<section class="insights-section">
    <div class="insights-container">
      <span class="insights-clients-tag">HEAR FROM CLIENTS</span>
      <header class="insights-header">
        <h1>Insights & Innovations</h1>
        <p>
          Stay ahead in the world of APIs with our latest blog posts. From best practices and emerging trends to crucial security tips, our experts share valuable insights to help you maximize the potential of your API solutions.
        </p>
      </header>
  
      <div class="insights-content-wrapper">
        <div class="insights-navigation">
          <button class="insights-nav-button" onclick="changeSlide(-1)">←</button>
          <button class="insights-nav-button" onclick="changeSlide(1)">→</button>
        </div>
        <div class="insights-card-container" id="cardContainer">
          <div class="insights-card-wrapper">
            <div class="insights-card" data-index="0">
              <span class="insights-card-tag">NEWS</span>
              <h2>Maximizing API Efficiency: Best Practices for Developers</h2>
              <p class="insights-card-date">July 1, 2024</p>
              <div class="insights-card-btn">
                <a href="#" class="insights-card-link">Read more</a>
              </div>
            </div>
  
            <div class="insights-card" data-index="1">
              <span class="insights-card-tag">NEWS</span>
              <h2>The Future of Data Integration: Trends to Watch in 2024</h2>
              <p class="insights-card-date">August 7, 2024</p>
              <div class="insights-card-btn">
                <a href="#" class="insights-card-link">Read more</a>
              </div>
            </div>
  
            <div class="insights-card" data-index="2">
              <span class="insights-card-tag">NEWS</span>
              <h2>APIs and Security: How to Safeguard Your Data</h2>
              <p class="insights-card-date">August 12, 2024</p>
              <div class="insights-card-btn">
                <a href="#" class="insights-card-link">Read more</a>
              </div>
            </div>
          </div>
        </div>
        <div class="insights-slider-container">
          <div class="insights-slider-fill" id="sliderFill"></div>
        </div>
      </div>
    </div>
  </section>