* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #EEF1F4;

}

.Header-section {
    background: linear-gradient(135deg, #2480FC 0%, #0052CC 100%);
    min-height: 1500px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

}